@model CarListApp.Models.Car

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("Search")
            <input type="search" value="Search" />
        </p>
    }
</body>
</html>