<html>
<head>
</head>
<body>
    <h1>Search</h1>
    <form action="/search" method="get">
        <label for="plates">Plate: </label>
        <input type="text" id="Plate" name="Plate" />
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
</body>
</html>